gestionbibliotecaMVC/Service References/ServiceReference1/AutorServiceOld.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAutorById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codAutor" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAutorByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAutorByIdResult" type="tns:AutorWS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AutorWS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAutorByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetAutorById" />
  </wsdl:message>
  <wsdl:message name="GetAutorByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetAutorByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="AutorServiceOldSoap">
    <wsdl:operation name="GetAutorById">
      <wsdl:input message="tns:GetAutorByIdSoapIn" />
      <wsdl:output message="tns:GetAutorByIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AutorServiceOldSoap" type="tns:AutorServiceOldSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAutorById">
      <soap:operation soapAction="http://tempuri.org/GetAutorById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AutorServiceOldSoap12" type="tns:AutorServiceOldSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAutorById">
      <soap12:operation soapAction="http://tempuri.org/GetAutorById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AutorServiceOld">
    <wsdl:port name="AutorServiceOldSoap" binding="tns:AutorServiceOldSoap">
      <soap:address location="http://localhost:54997/AutorServiceOld.asmx" />
    </wsdl:port>
    <wsdl:port name="AutorServiceOldSoap12" binding="tns:AutorServiceOldSoap12">
      <soap12:address location="http://localhost:54997/AutorServiceOld.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>